[submodule "tv-native-apis"]
	path = tv-native-apis
	url = https://github.com/webosbrew/tv-native-apis.git
[submodule "unicapture/hyperion-webos"]
	path = unicapture/hyperion-webos
	url = https://github.com/webosbrew/hyperion-webos.git
